:root {
  /* Light Theme Variables */
  --color-text-light: #333332;
  --color-background-light: #faf4e5;
  --color-pink-light: #e5a1aa;
  --color-green-light: #7ad0ac;
  --color-blue-light: #8395cd;

  /* Dark Theme Variables */
  --color-text-dark: #faf4e5;
  --color-background-dark: #8395cd;
}
